@import "../../Base/Global.scss";
@import "../../Base/Colour.scss";

/* Common xs1, xs2 */
@media all and (max-width: #{($mq-sm1 - 1) + "px"}) {
}

/* Common sm1, sm2 tablet */
@media all and (min-width: #{($mq-sm1) + "px"}) and (max-width: #{($mq-md - 1) + "px"}) {
}

@media all and (min-width: #{$mq-md + "px"}) {
  .section-01 {
    .conteiner {
      display: flex;
      
      img {
        width: 125px;
        height: 125px;
        display: none;
      }

      .item1,
      .item3,
      .item5 {
        background-color: rgb(193, 224, 252);
      }
      .item1:hover {
        background-color: aliceblue;
        height: 145px;
        transition: 0.5s;
        img {
          display: block;
          margin-left: 50px;
        }
      }
      .item2:hover {
        background-color: aliceblue;
        height: 145px;
        transition: 0.5s;
        img {
          display: block;
          margin-left: 50px;
        }
      }
      .item3:hover {
        background-color: aliceblue;
        height: 145px;
        transition: 0.5s;
        img {
          display: block;
          margin-left: 50px;
        }
      }
      .item4:hover {
        background-color: aliceblue;
        height: 145px;
        transition: 0.5s;
        img {
          display: block;
          margin-left: 50px;
        }
      }
      .item5:hover {
        background-color: aliceblue;
        height: 145px;
        transition: 0.5s;
        img {
          display: block;
          margin-left: 50px;
        }
      }

      .item2,
      .item4 {
        background-color: rgb(185, 198, 209);
      }

      a {
        text-align: center;
        width: 230px;
        height: 60px;
      }
    }
  }
}
